<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="formulario.css">
    <title>Estudos</title>
</head>

<body>

    <form method="POST">
        <label for="nome_materia">Nome da matéria:</label>
        <input type="text" name="nome_materia" id="nome_materia" required>
        <button type="submit">Cadastrar</button>
    </form>

</body>

</html>